@{
    ViewData["Title"] = "Salas disponíveis";
}

<h2>@ViewData["Title"]</h2>

<form id="availabilityForm" class="row g-3 mb-4">
    <div class="col-md-4">
        <label for="Date" class="form-label">Data</label>
        <input id="Date" type="text" class="form-control" placeholder="dd/mm/aaaa" />
    </div>
    <div class="col-md-3">
        <label for="StartTime" class="form-label">Hora início</label>
        <input id="StartTime" type="time" class="form-control" />
    </div>
    <div class="col-md-3">
        <label for="EndTime" class="form-label">Hora término</label>
        <input id="EndTime" type="time" class="form-control" />
    </div>
    <div class="col-md-2 d-flex align-items-end">
        <button type="button" id="btnCheck" class="btn btn-success w-100">Verificar</button>
    </div>
</form>

<table class="table table-striped d-none" id="roomsTable">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Capacidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


    <script>
        $("#Date").datepicker({ dateFormat: "dd/mm/yy" });

        function renderTable(rooms) {
            const $tbl = $("#roomsTable");
            const $body = $tbl.find("tbody").empty();
            if (rooms.length) {
                rooms.forEach(r => {
                    $body.append(`<tr><td>${r.name}</td><td>${r.capacity}</td><td>
                        <a class='btn btn-sm btn-primary' href='/Reservation/Create?roomId=${r.id}'>Reservar</a>`);
                });
            } else {
                $body.append("<tr><td colspan='3'>Nenhuma sala disponível</td></tr>");
            }
        }