@model IEnumerable<CoworkingReservationSystem.Web.Models.ViewModels.RoomViewModel>

@{
    ViewData["Title"] = "Salas";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Capacidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>@room.Name</td>
                <td>@room.Capacity</td>
                <td>
                    <a asp-controller="Reservation" asp-action="Create" asp-route-roomId="@room.Id" class="btn btn-sm btn-primary">Reservar</a>
                </td>
            </tr>
        }
    </tbody>
</table>