@model IEnumerable<CoworkingReservationSystem.Web.Models.ViewModels.RoomViewModel>
@{
    ViewData["Title"] = "Salas Disponíveis";
}
<h2 class="mb-4">@ViewData["Title"]</h2>
<table class="table table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th>Nome da Sala</th>
            <th>Capacidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <td>@room.Name</td>
                <td>@room.Capacity pessoas</td>
            </tr>
        }
    </tbody>
</table>
